<?xml version="1.0" ?>
<model>
  <name>Calibrate_board</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Changkun Chai</name>
    <email>changkun@momeneta.ai</email>
  </author>
  <description>
  Calibration board for surround view calibration.
  </description>
</model>
